<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="turbolinks-root" content="<%=url("/")%>">
<title>System Status</title>
<link rel="stylesheet" type="text/css" href="<%= url("/bootstrap-3.3.7/css/bootstrap.min.css") %>">
<link rel="stylesheet" href="<%= url("/fontawesome-5.1.0/css/all.css") %>">
<link rel="stylesheet" type="text/css" href="<%= url("/ood-bootstrap3-override-0.0.1/navbar.css") %>">
<link rel="shortcut icon" type="image/ico" href="<%=public_url%>/favicon.ico" >
<style media="all">
  pre {
    white-space: pre-wrap;
    /* CSS 3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
  }
  /* Base styles */
  div .bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
  }
  .bs-callout h1, .bs-callout h2, .bs-callout h3, .bs-callout h4, .bs-callout h5, .bs-callout h6 {
    margin-top: 0;
  }
  .bs-callout-info h1, .bs-callout-info h2, .bs-callout-info h3, .bs-callout-info h4, .bs-callout-info h5, .bs-callout-info h6 {
    color: #3a87ad;
  }
  .bs-callout p:last-child {
    margin-bottom: 0;
  }
  .bs-callout code, .bs-callout .highlight {
    background-color: #fff;
  }
  div .bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
  }
  .img-responsive {
    min-width: 100%;
  }
  .panel-clickable:hover {
    background-color: #c1cdf0;
    border-color: #6c75f0;
  }
  .panel-clickable.active {
    background-color: #6c75f0;
    border-color: #6c75f0;
  }
  a:-webkit-any-link {
    text-decoration: none !important;
  }
  /* progress bar styling */
  .progress {
    border-radius: 2px !important;
    padding: 0px;
  }
  .progress-custom {
    margin-bottom: 0px !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }
  .progress-bar.col-sm-10 + div{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }
  .progress-bar.col-sm-10.col-xs-9{
    padding: 0px;
  }
  /* not found page styling */
  .jumbotron{
    margin-top: 28px;
  }
  /* contrasting with primary bootstrap color */
  .progress-bar-secondary {
    background-color: #ffa300;
  }
  .text-secondary {
    color: #ffa300;
  }
  a.text-secondary:hover,
  a.text-secondary:focus {
    color: #b37200;
  }

  .padding-bottom-95px {
    padding-bottom: 95px !important;
  }
</style>
<script src="<%= url("/turbolinks-5.2.0/turbolinks.js") %>"></script>
<script src="<%= url("/jquery-1.12.4/jquery.min.js") %>"></script>
<script type="text/javascript" src="<%= url("/uri-1.18.4/URI.min.js") %>"></script>
<script src="<%= url("/bootstrap-3.3.7/js/bootstrap.min.js") %>"></script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })
</script>
</head>
<body style="background-color:#eee;">

<!-- ACTUAL STATUS PAGE ADDITIONS -->
<div style="display:block">
<p style="text-align:center">
  <iframe
    src="/public/gr.html"
    width="100%"
    height="900px"
    frameBorder="0"
  ></iframe>
</p>
</div>
<div style="display:block; text-align:center; max-width:500px; margin: auto; border: 2px solid #aee; box-shadow: 7px 7px 7px #AAA; background: #dff;">
<p style="text-align:left; margin: 5px;">
  <strong>Key</strong>: the squares above illustrate distinct compute nodes
  and their status. A square's color reflects the
  node's <a href="https://slurm.schedmd.com/sinfo.html#SECTION_NODE-STATE-CODES">
  state</a> as labeled by the legend in the upper-right. Hovering the mouse
  over a square will provide additional details about that compute node, such
  as
  <a href="https://slurm.schedmd.com/sbatch.html#OPT_constraint"> features (job constraints)</a>,
  <a href="https://slurm.schedmd.com/sbatch.html#OPT_partition"> partition info</a>, and
  <a href="https://slurm.schedmd.com/sbatch.html#OPT_qos"> QOS info</a>.
  Some nodes have Graphical Processing Units (GPUs), which are indicated as
  idle or allocated by an empty (○) or filled (●) symbol.
</p>
</div>
<div style="padding-bottom:50px;"></div>
<!-- ACTUAL STATUS PAGE ADDITIONS -->
</body>
</html>
