<!-- node status progressbar -->
<% if showqer.nodes_avail > 0 %>
  <div><%= showqer.nodes_used %> of <%= showqer.available_nodes %> General Nodes Active (<%= showqer.nodes_idle %> Node(s) Free, <%= showqer.nodes_other %> Node(s) Offline) </div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width:<%= showqer.nodes_percent.round(2) %>%">
      <%=(showqer.nodes_percent).round(2) %>%
    </div>
  </div>
  <div><%= showqer.procs_used %> of <%= showqer.available_procs %> General Processors Active (<%= showqer.procs_idle %> Processors Free, <%= showqer.procs_other %> Processors Offline)</div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width:<%= showqer.procs_percent.round(2) %>%">
      <%= (showqer.procs_percent).round(2) %>%
    </div>
  </div>
<% end %>
<% if showqer.owner_nodes_avail > 0 %>
  <div><%= showqer.owner_nodes_used %> of <%= showqer.owner_nodes_avail %> Owner Nodes Active (<%= showqer.owner_nodes_idle %> Nodes Free, <%= showqer.owner_nodes_other %> Node(s) Offline) </div>
  <div class="progress">
   <div class="progress-bar" role="progressbar" style="width:<%= showqer.owner_nodes_percent.round(2) %>%">
     <%=(showqer.owner_nodes_percent).round(2) %>%
   </div>
  </div>
  <div><%= showqer.owner_procs_used %> of <%= showqer.owner_procs_avail %> Owner Processors Active (<%= showqer.owner_procs_idle %> Processors Free, <%= showqer.owner_procs_other %> Processors Offline)</div>
  <div class="progress">
   <div class="progress-bar" role="progressbar" style="width:<%= showqer.owner_procs_percent.round(2) %>%">
     <%= (showqer.owner_procs_percent).round(2) %>%
   </div>
  </div>
  <!-- Link to owner usage, only for Kingspeak, Notchpeak -->  
  <% if showqer.cluster_title == "Kingspeak" %>
    <a href="https://www.chpc.utah.edu/usage/constraints/kingspeak.php">Recent Kingspeak owner group usage</a> <br><br/> 
  <% elsif showqer.cluster_title == "Notchpeak" %>
    <a href="https://www.chpc.utah.edu/usage/constraints/notchpeak.php">Recent Notchpeak owner group usage</a> <br><br/> 
  <% elsif showqer.cluster_title == "Lonepeak" %>
    <a href="https://www.chpc.utah.edu/usage/constraints/lonepeak.php">Recent Lonepeak owner group usage</a> <br><br/> 
  <% elsif showqer.cluster_title == "Ash" %>
    <a href="https://www.chpc.utah.edu/usage/constraints/ash.php">Recent Ash owner group usage</a> <br><br/> 
  <% end %>
<% end %>
<% if showqer.job_scheduler_name == "slurm" %>
<% if showqer.gpu_nodes > 0 %>
  <div>
    <span>
      <%= (showqer.gpu_nodes - showqer.gpu_nodes_free) %> of <%= showqer.gpu_nodes %> General GPU Nodes Active (<%= showqer.gpu_nodes_free %> Node(s) Free)
    </span>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-secondary" role="progressbar" style="width:<%= showqer.gpu_nodes_available_percent %>%">
      <%= showqer.gpu_nodes_available_percent.round(2) %>%
    </div>
  </div>
  <div>
    <span>
      <%= showqer.gpus_used %> of <%= showqer.gpus %> General GPUs Active (<%= (showqer.gpus - showqer.gpus_used) %> GPU(s) Free)
    </span>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-secondary" role="progressbar" style="width:<%= showqer.gpus_available_percent %>%">
      <%= showqer.gpus_available_percent.round(2) %>%
    </div>
  </div>
<% end %>
<% if showqer.owner_gpu_nodes > 0 %>
  <div>
    <span>
      <%= (showqer.owner_gpu_nodes - showqer.owner_gpu_nodes_free) %> of <%= showqer.owner_gpu_nodes %> Owner GPU Nodes Active (<%= showqer.owner_gpu_nodes_free %> Node(s) Free)
    </span>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-secondary" role="progressbar" style="width:<%= showqer.owner_gpu_nodes_available_percent %>%">
      <%= showqer.owner_gpu_nodes_available_percent.round(2) %>%
    </div>
  </div>
  <div>
    <span>
      <%= showqer.owner_gpus_used %> of <%= showqer.owner_gpus %> Owner GPUs Active (<%= (showqer.owner_gpus - showqer.owner_gpus_used) %> GPU(s) Free)
    </span>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-secondary" role="progressbar" style="width:<%= showqer.owner_gpus_available_percent %>%">
      <%= showqer.owner_gpus_available_percent.round(2) %>%
    </div>
  </div>
<% end %>
<% else %>
<div>
  <span>
    <%= gpustats.total_gpus - gpustats.full_nodes_available %> of <%= gpustats.total_gpus %> GPU Nodes Active (<%= gpustats.full_nodes_available %> Node(s) Free)
  </span>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-secondary" role="progressbar" style="width:<%= gpustats.gpus_percent.round(2) %>%">
    <%= (gpustats.gpus_percent).round(2) %>%
  </div>
</div>
<% end %>
<hr>
<div>
  <% if showqer.job_scheduler_name != "slurm" %>
    <h4><%= showqer.available_jobs %> Running or Queued Jobs <br><small>(and <%= showqer.blocked_jobs %> blocked jobs)</small></h4>
  <% else %>
    <h4><%= showqer.available_jobs %> Running or Queued Jobs <br><br></h4>
  <% end %>
</div>
<div class="row" style="background-color: #e0f2fa">
  <div class="col-md-2 col-xs-12">
    Running
  </div>
  <div class="col-md-10 col-xs-12">
    <div class="row">
      <div class="col-md-6 col-xs-12 progress progress-custom">
        <div class="progress-bar" role="progressbar" style="width:<%= showqer.active_percent %>%"></div>
      </div>
      <div class="col-md-6 col-xs-12" style="padding-left: 5px; text-align: left"><span><%= showqer.active_jobs %>
      <% if showqer.job_scheduler_name == "slurm" %>
      <% if showqer.owner_gpu_nodes > 0 || showqer.gpu_nodes > 0 %>
         <span class="text-secondary" style="padding-left: 5px;">(<%= showqer.gpu_jobs_running %> using GPU)</span>
      <% end %>
      <% end %>
      </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-xs-12">
    Queued
  </div>
  <div class="col-md-10 col-xs-12">
    <div class="row">
      <div class="col-md-6 col-xs-12 progress progress-custom">
      <% if showqer.job_scheduler_name != "slurm" %>
        <div class="progress-bar progress-bar-info" role="progressbar" style="width:<%= gpustats.percent_of_queued_jobs_not_requesting_gpus(showqer.available_jobs, showqer.eligible_jobs) %>%"></div>
        <div class="progress-bar progress-bar-secondary" role="progressbar" style="width:<%= gpustats.percent_of_queued_jobs_requesting_gpus(showqer.available_jobs) %>%"></div>
      <% else %>
        <div class="progress-bar progress-bar-info" role="progressbar" style="width:<%= showqer.eligible_percent %>%"></div>
      <% end %>
      </div>
      <% if showqer.job_scheduler_name != "slurm" %>
        <div class="col-md-6 col-xs-12" style="padding-left: 5px; text-align: left"><span><%= showqer.eligible_jobs %><span class="text-secondary" style="padding-left: 5px;">(<%= gpustats.queued_jobs_requesting_gpus %> requesting GPU)</span></span></div>
      <% else %>
        <div class="col-md-6 col-xs-12" style="padding-left: 5px; text-align: left"><span><%= showqer.eligible_jobs %>
        <% if showqer.owner_gpu_nodes > 0 || showqer.gpu_nodes > 0 %>
          <span class="text-secondary" style="padding-left: 5px;">(<%= showqer.gpu_jobs_pending %> requesting GPU)</span>
        <% end %>
        </span></div>
      <% end %>
    </div>
  </div>
</div>
