<!-- graphs for cluster's system status -->
<div class="row">&nbsp;</div>
<div class="row">
    <% graph_types.each do |key, value| %>
        <div class="col-sm-3 col-xs-6">
            <a href="<%= url("/clusters/#{@id}/#{@time}/#{key}") %>">
                <div class="panel panel-default panel-clickable <%= "active" if @type == key %>">
                    <div class="panel-heading"><h4 class="panel-title"><%= value %></h4></div>
                    <div class="panel-body">
                      <img class='img-responsive center-block updateable' src='<%=  ganglia.small.send(key).png %>' alt='Graph'>
                    </div>
                </div>
            </a>
        </div>
    <% end %>
<div class="row">
    <div class="col-sm-12">
        <div class=" panel panel-default">
            <div class="panel-body" id="large-status">
                <img src='<%= ganglia.send(@type).size(800, 250).png %>' class='img-responsive center-block updateable' id='large-image'  alt='largeGraph'>
            </div>
        </div>
    </div>
</div>