<div class="row">
<!-- node status on /clusters page -->
  <% @clusters.each_with_index do |cluster, index | %>
    <div class="<%= 'col-sm-offset-3' if index == @clusters.count - 1 && @clusters.count.odd? %> col-sm-6 col-xs-12">

    <% if cluster.dashboard_url %>
      <a href="<%= url(cluster.dashboard_url) %>">
    <% end %>
      <div class="panel panel-default bs-callout bs-callout-info text-center <%= 'panel-clickable' if cluster.dashboard_url %>">
        <h4><strong><%= cluster.cluster_title %> Cluster Status</strong></h4>
        <%= erb :_node_status, :locals => { :showqer => cluster, :gpustats => @gpustats[index].setup } %>
      </div>
    <% if cluster.dashboard_url %>
    </a>
    <% end %>
  </div>
  <% end %>
</div>
