<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="turbolinks-root" content="<%=url("/")%>">
  <title>Cluster Status</title>
  <link rel="stylesheet" type="text/css" href="<%= url("/bootstrap-3.3.7/css/bootstrap.min.css") %>">
  <link rel="stylesheet" href="<%= url("/fontawesome-5.1.0/css/all.css") %>">
  <link rel="stylesheet" type="text/css" href="<%= url("/ood-bootstrap3-override-0.0.1/navbar.css") %>">
  <link rel="shortcut icon" type="image/ico" href="<%=public_url%>/favicon.ico" >
  <style media="all">
    pre {
      white-space: pre-wrap;
      /* CSS 3 */
      white-space: -moz-pre-wrap;
      /* Mozilla, since 1999 */
      white-space: -pre-wrap;
      /* Opera 4-6 */
      white-space: -o-pre-wrap;
      /* Opera 7 */
      word-wrap: break-word;
      /* Internet Explorer 5.5+ */
    }
    /* Base styles */
    div .bs-callout {
      margin: 20px 0;
      padding: 15px 30px 15px 15px;
      border-left: 5px solid #eee;
    }
    .bs-callout h1, .bs-callout h2, .bs-callout h3, .bs-callout h4, .bs-callout h5, .bs-callout h6 {
      margin-top: 0;
    }
    .bs-callout-info h1, .bs-callout-info h2, .bs-callout-info h3, .bs-callout-info h4, .bs-callout-info h5, .bs-callout-info h6 {
      color: #3a87ad;
    }
    .bs-callout p:last-child {
      margin-bottom: 0;
    }
    .bs-callout code, .bs-callout .highlight {
      background-color: #fff;
    }
    div .bs-callout-info {
      background-color: #f0f7fd;
      border-color: #d0e3f0;
    }
    .img-responsive {
      min-width: 100%;
    }
    .panel-clickable:hover {
      background-color: #c1cdf0;
      border-color: #6c75f0;
    }
    .panel-clickable.active {
      background-color: #6c75f0;
      border-color: #6c75f0;
    }
    a:-webkit-any-link {
      text-decoration: none !important;
    }
    /* progress bar styling */
    .progress {
      border-radius: 2px !important;
      padding: 0px;
    }
    .progress-custom {
      margin-bottom: 0px !important;
      background-color: transparent !important;
      box-shadow: none !important;
    }
    .progress-bar.col-sm-10 + div{
      float: left;
      padding-left: 5px;
      padding-right: 5px;
    }
    .progress-bar.col-sm-10.col-xs-9{
      padding: 0px;
    }
    /* not found page styling */
    .jumbotron{
      margin-top: 28px;
    }
    /* contrasting with primary bootstrap color */
    .progress-bar-secondary {
      background-color: #08af1f;
    }
    .text-secondary {
      color: #08af1f;
    }
    a.text-secondary:hover,
    a.text-secondary:focus {
      color: #b37200;
    }

    .padding-bottom-95px {
      padding-bottom: 95px !important;
    }
  </style>
  <script src="<%= url("/turbolinks-5.2.0/turbolinks.js") %>"></script>
  <script src="<%= url("/jquery-1.12.4/jquery.min.js") %>"></script>
  <script type="text/javascript" src="<%= url("/uri-1.18.4/URI.min.js") %>"></script>
  <script src="<%= url("/bootstrap-3.3.7/js/bootstrap.min.js") %>"></script>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    })
  </script>
</head>
<body>

<header>
  <!-- navbar  -->
  <nav class="ood-appkit navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <ul class="navbar-breadcrumbs">
          <li><a href='<%=dashboard_url%>'><img src="/public/CHPC-logo35.png"></a></li>
          <li><a href='<%=url%>'>Cluster Status</a></li>
        </ul>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <% CLUSTERS.each do |cluster| %>
              <li class="<%= 'active' if @ganglia && @ganglia.server_id == cluster.id %>">
                <% if cluster.custom_config.key?(:ganglia) %>
                  <a href="<%= url("/clusters/#{cluster.id}/hour/report_moab_nodes") %>"><span><i class="fa fa-chart-area"></i></span>  <%=cluster.metadata.title %> Cluster</a>
                <% elsif cluster.custom_config.key?(:grafana) && cluster.job_config %>
                  <a href="<%= url("/clusters/#{cluster.id}/grafana") %>" target="_blank"><span><i class="fa fa-chart-area"></i></span>  <%=cluster.metadata.title %> Cluster</a>
                <% end %>
              </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>

<div class="container" role="main">
  <%= yield %>
  <!-- error message  -->
  <% Array(@error_messages).each do |msg| %>
    <div class='row'><div class='alert alert-warning' role='alert'><%= msg %></div></div>
  <% end %><!-- /.error message  -->
</div><!-- /.container -->


<footer>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-offset-6 col-sm-offset-6 col-md-6 col-sm-6">
        <p id="app_version" class="pull-right"><%= app_version %></p>
      </div>
    </div>
  </div><!-- /.container -->
</footer>
<script>
// update cluster information graphs every 5 seconds
//TODO: this won't work in turbolinks; rather setInterval and clearInterval
//      would need to be set during appropriate turbolinks events
//setInterval(function(){
//    $(".updateable:visible").each(function(){
//      this.src = URI(this.src).setSearch("timestamp", (new Date).getTime()).toString();
//    });
//}, 5000);
</script>
</body>
</html>
