<!-- nav for cluster's system status -->
<div>
    <div id="time-tabs">
      <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified" id="<%= @time %>_tabs" role="tablist">
            <% graph_time.each do |key, value| %>
                <li role="presentation" class="<%= "active" if @time == key %>"><a href="<%= url("/clusters/#{@id}/#{key}/#{@type}") %>"><%= value %></a></li>
            <% end %>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel">
                <%= erb :_system_large, :locals => { :ganglia => @ganglia }%>
            </div>
        </div>
    </div>
</div>
